<script>
// <a href="https://www.vecteezy.com">Illustrations by www.Vecteezy.com</a>
var url = window.location.href;

    </script>
    

        <script src="/js/main.js"></script>

</body>
</html>