
<form action="/register" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12 col-12">
      <label for="email">Email Address</label>
      <input class="form-control" type="email" id="signUpEmail" name="email" placeholder="example@example.com">
    </div>
    <div class="form-group col-md-6 col-sm-12 col-12">
      <label for="signUpUsername">Username</label>
      <input class="form-control" type="text" id="username"  name="username" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12 col-12">
      <label for="signUpPassword">Password</label>
      <input class="form-control" type="password" id="password" name="password">
    </div>
    <div class="form-group col-md-6 col-sm-12 col-12">
      <label for="repeatPassword">Repeat Password</label>
      <input class="form-control" type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
    </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6 col-sm-6 col-12">
    <label for="birthday">Birthdate</label>
    <input class="form-control" type="date" name="birthday" id="birthday">
  </div>
  <div class="form-group col-md-7 col-sm-7 col-xs-7">
    <h6>We won't sell your information to any third parties.
      If you're interested, you can probably read our <a href="#">Terms and Conditions</a> here.</h6>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-8 col-sm-8 col-xs-8">
    <button type="submit" name="button" class="btn btn-primary">Sign up!</button>
  </div>

</div>
</form>
