<div class="spotModal">
    <div class="spotModalContent">
    <span class="close">&times;</span>
        <h2 class="modalText">spot.name </h2>
        <img class="modalImg" src="'+spot.mainImg+'">
        <div class="modalOverlay">
        <h2 class="text-center hoverText"><a href="spots/spot._id"> + spot.name </a></h2>
        <div class="starRating"></div>' 
        </div>'

    </div>
</div>; 