<% include partials/header %>
<% include partials/navbar %>
 <div id="map"></div>


<div class="hidden lol">
        <h1 class="iwHead"></h1>
</div>
<script>
        var spots = <%- JSON.stringify(allSpots) %>;
        passSpot(spots);
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJ5R-GLdIW9KPG1fQWm2LyjQC77x0Dk4&callback=initMap">    
</script>

<% include partials/footer %>
