<% include partials/header %>

    <div class="container">
        <div class="jumbotron jumbotron-flex" id="landingJumbo">
            <div class="container">
                <h1 class="display-4">SESH</h1>

            </div>
        </div>
        <div class="row">


            </div>
        </div>
    </div>



    <script>$(document).ready(landingText());</script>
<% include partials/footer %>