<% include partials/header %>

<div class="container">
    <div class="row">
        <div class=col>
            <form action="/spots" method="POST">
                <div class="form-group">
                    <label for="spotName">Spot Name</label>
                    <input type="text" name="spotName" id="spotName" class="form-control">
                    <label for="lat">Lattitude</label>
                    <input type="text" name="lat" aria-describedby="locHelp" id="lat" class="form-control">
                    <label for="long">Longitude</label>
                    <input type="text" name="long" id="long" class="form-control">
                    <small id="locHelp" class="form-text text-muted">(Closest physical address to the entrance, try Google Maps!)</small>
                    <label for="state">State:</label>
                    <select name="state" id="state" class="form-control">
                            <% for (var i =0; i < stateList.length; i++){ %>
                                <option value="<%=stateList[i]%>"><%=stateList[i]%></option>
                            <% } %>
                    </select>
                    <button name="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <a href="/"><p>Back to Index</p></a>
        </div>
    </div>
</div>



<% include partials/footer %>