body, html{
    height: 100%;
}
body{
    padding-top: 40px;
}

/* MAP CANVAS PROPERTIES */
#map{
    height: 100%;
}
#singleMap{
    height: 300px;
    width: 400px;
}


.smallImg{
    width: 50px;
    height: 50px;
}
.belowNav {
    margin-top: 70px;
}
.infoContainer{
    margin: 0, auto;
}
/* NAV BAR */

.navbar-dark{
    width: 100%;
    background-color: #442220;
    
}
.navbar-dark a {
    color: #A0EADE;


}
.container {
    margin-top: 1em;
}
/* InfoBox  */
.gm-style-iw{
    padding: 0;
    margin: 0;
    border: none;
}
.gm-style-iw img{
    height: 30%;
    width: 80%;
}

/* Boostrap Modal  */
.modal .btn{
    background-color: #4CB963;
    color:white;
}
.modal-header{
    color: #A0EADE;
    background-color: #058C42;
}


/* The Modal (background) */
.spotModal {

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.spotModalContent {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    height: 50%;
    overflow: hidden;
    position: relative;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modalImg {
    display: block;
    width: 100%;
    height: auto;
}

.modalOverlay {
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #442220;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

.modalOverlay a {
    color: white;
    
}
  
  .spotModalContent:hover .modalOverlay {
    height: 20%;
  }
  .modalText {
      color:white;
      position: absolute;
      
  }
  
  .hoverText {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/* The Close Button */
.close {
    position: absolute;
    color: red;
    right: 0;
    float: right;
    font-size: 32px;
   
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.errorSpan{
    color:red;
}

.hidden {
    display:none;
}

.textStroke {
    color: #fff;
    text-shadow: #000 4px 1px 1px;

}
.btn-chill {
    background-color: #809848;
    
}
.btn-chill a {
    text-decoration: none;
}

/* ==========================================

            LANDING PAGE STYLES

========================================== */
#landing1{
    background-color: #051014;
    height: 30vh;
    color:white;

}


#landingSignup{
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #2E0014;
    border-radius:30px;
    padding: 1em;
    color: #2E0014;
    background-color: #B5DEAD;
}
#landing2{
    padding-top: 5em;
    height: 50vh;
    background-image: url("../img/para2.jpg");
    background-size: 100%;
    background-position-y: -3em;
    color: white;
}
#landing3{
    padding-top: 5em;
    height: 30vh;
    background-color:#414746;
    color: white;
}
.img-thumbnail {
    min-height: 265px;
}
/* ===========================================

        USER STYLES

=========================================== */
.avatar {
    max-width: 100%;
}



@media (min-width: 980px) {
    body {
      padding-top: 60px;

    }
  }
/* ====================================================

    Show SPOT
==================================================== */

.spacer{
    margin-top: 1em;
}



#tableCheckbox {
    padding: 1em;

}

/* Avatar Hover Stuff */
.profileAvatar img{
    max-width: 100%;
  }
  .profileAvatar span{
    display: none;
    position: absoulte;
    background: #d4e2f9;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
  }
  .profileAvatar:hover span{
    display: flex;
  }
  