body, html{
    height: 100%;
}

#map{
    height: 100%;
}

.infoContainer{
    margin: 0, auto;
}

.navBar{
    position: absolute;
    display: flex;
    z-index: 2;
    width: 100%;
    background-color: #058C42;
    padding-bottom: 0;
    
}
.navBar a {
    color: #A0EADE;
}
.gm-style-iw{
    padding: 0;
    margin: 0;
    border: none;
}
.gm-style-iw img{
    height: 30%;
    width: 80%;
}
.modal .btn{
    background-color: #4CB963;
    color:white;
}
.modal-header{
    color: #A0EADE;
    background-color: #058C42;
}