
<% include partials/header %>
<% include partials/navbar %>


<form action="/register" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6 col-12">
        <label for="email">Email Address</label>
        <input required class="form-control" type="email" id="signUpEmail" name="email" placeholder="example@example.com">
      </div>
      <div class="form-group col-md-6 col-12">
        <label for="signUpUsername">Username</label>
        <input required class="form-control" type="text" id="username"  name="username" >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12 col-12">
        <label for="signUpPassword">Password</label>
        <input required class="form-control" type="password" id="password" name="password"> 
      </div>
    </div>
      <button class="form-controlbtn btn-primary">Submit</button>
    </div>
  </div>
  </form>


  <%include partials/footer %>