<% include ../partials/header %>
<div class="container">
  <div class="row">
<% users.forEach(function(users){ %>

    <div class="col-sm-12 col-lg-4 ">
      <a href="users/<%=users._id%>"> <div class="thumbnail">
        <img class="smallImg" src="<%= users.avatar %>">
      </div>
      <div class="caption">
        <h4> <%= users.username %> </h4>
      </div>
    </a>
      <p><%= users.bio %> </p>
    </div>

  


<% }); %>

</div>
</div>

<% include ../partials/footer %>
