<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container belowNav">
 <h1>Editing a Spot is currently down for maintainence. Pleade look forward to it.</h1>
</div>

<% include ../partials/footer %>