<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container belowNav">
    <div class="row">
        <div class=col>
                <form action="/spots" enctype="multipart/form-data" method="POST">

                        <div class="form-group row">
                            <div class="col-12">
                                <label for="spotName">Spot Name</label>
                                <input type="text" name="spotName" id="spotName" class="form-control">
                            </div>
                            <div class="col-12">
                                <label for="addLine1">Address</label>
                                <input required type="text" name="addr1"aria-describedby="locHelp" id="addLine1" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="city">City</label>
                                <input required type="text" name="city" id="city" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="zip">Zip Code </label>
                                <input required type="text" name="zip" id="zip" class="col-2 form-control">
                                <p>Can't find an address? Try the Lattitude & Longitude!</p>
                                <small id="locHelp" class="form-text text-muted">(Closest physical address to the entrance, try Google Maps!)</small>
                            </div>
                            <div class="col">
                                <label for="spotImg">Upload a photo</label>
                                <input required type="file" id="spotImg" class="form-control" name="spotImg">
                            </div>  
                            <div class="col-12 form-check">
                                <input type="checkbox" class="form-check-input" id="petCheck">
                                <label class="form-check-label" for="petCheck">Pet Friendly</label>
                                
                            </div>
                            <div class="col-12">
                                <label for="desc">Description</label>
                                <textarea required class="form-control" rows="5" id="desc" name="desc"></textarea>
                            </div>
                    
                    
                            <button name="button" class="btn btn-primary">Submit</button>
                        </div>
                </form>
            <a href="/"><p>Back to Index</p></a>
        </div>
    </div>
</div>



<% include ../partials/footer %>