<% include ../partials/header %>
<h1><%=spot.name%></h1>
<h2><%=spot.lat %></h2>
<div id="map"></div>

<script>
    var newSpot = <%- JSON.stringify(spot) %>;
    passSpot(newSpot);
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJ5R-GLdIW9KPG1fQWm2LyjQC77x0Dk4&callback=initMap">
</script>

<% include ../partials/footer %>
